snippet snippets_test_pholder_misc_01 test: placeholders: misc: pholders as default values for others ($1 as default for $2)
	placeholder_1: ${1:default_1}
	placeholder_2: ${2:$1} (uses \$1 as the default/initial value)
	status: working on snipmate and ultisnips as of 17/12/2022 18:45:00 GMT

snippet snippets_test_pholder_misc_02 test: placeholders: misc: pholders as default values for others ($2 as default for $1)
	placeholder_1: ${1:$2} (uses \$2 as the default/initial value)
	placeholder_2: ${2:default_2}
	status: working on snipmate and ultisnips as of 17/12/2022 18:49:00 GMT

snippet snippets_test_pholder_misc_03 test: placeholders: misc: pholders in unnatural order
	placeholder_2: ${2:default_2}
	placeholder_1: ${1:default_1}
	status: working on snipmate and ultisnips as of 17/12/2022 18:51:00 GMT

